body{
  scroll-behavior: smooth;
}
h2{
  letter-spacing: 1px;
  font-family: monospace;
  text-align: center;
  text-decoration: underline;
}
h4{
  font-weight: 600;

}

p{
  letter-spacing: 1px;
}
li{
  letter-spacing: 0.5px;
  margin-top:10px;
  text-align: justify;
}
